<div class="content" role="main">
  <div>
    <p
      *ngFor="let record of history"
      [attr.data-value]="record.value"
      [attr.data-type]="record.type"
    >
      {{ record.value }}
    </p>
  </div>
  <input type="text" rows="1" cols="50" placeholder="type your expression here" [(ngModel)] = "input" (keyup.enter)="onRun()" />
  <div class="button_pad">
    <button
      *ngFor="let dataInput of dataInputs"
      [attr.data-value]="dataInput.value"
      [attr.data-category]="dataInput.category"
      (click)="appendInputValue(dataInput.value)"
    >
      {{ dataInput.value }}
    </button>
  </div>
</div>
